<html>
<%- include('partials/head', {title: 'CM OAuth Helper'}) %>
<body class="">
<script>localStorage.getItem('ms-dark') === 'no' ? document.body.classList.remove('dark') : document.body.classList.add('dark')</script>
<div class="min-w-screen min-h-screen bg-gray-100 bg-gray-100 dark:bg-gray-800 font-sans">
    <%- include('partials/title', {title: ' OAuth Helper'}) %>
    <div class="container mx-auto">
        <div class="grid">
            <div class="bg-white dark:bg-gray-500 dark:text-white">
                <div class="p-6 md:px-10 md:py-6">
                    <div class="text-xl mb-4">Congrats! You did the thing.</div>
                    <div class="space-y-3">
                        <ul class="list-inside list-disc">
                            <li>Access Token: <b><%= accessToken %></b></li>
                            <li>Refresh Token: <b><%= refreshToken %></b></li>
                        </ul>
                        <div>Copy these somewhere and then restart the application providing these as either arguments
                            or environmental variables as described in the <a
                                    href="https://github.com/FoxxMD/context-mod#usage">usage section.</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <%- include('partials/footer') %>
</div>
<script>
    if (document.querySelector('#redirectUri').value === '') {
        document.querySelector('#redirectUri').value = `${document.location.href}callback`;
    }

    document.querySelector('#doAuth').addEventListener('click', e => {
        e.preventDefault()
        const url = `${document.location.href}auth?redirect=${document.querySelector('#redirectUri').value}`
        window.location.href = url;
    })
</script>
</body>
</html>
