<html lang="en">
<%- include('partials/head', {title: 'CM OAuth Helper'}) %>
<body class="bg-gray-900 text-white font-sans">
<div class="min-w-screen min-h-screen">
    <%- include('partials/title', {title: ' OAuth Helper'}) %>
    <div class="container mx-auto">
        <div class="grid">
            <div class="bg-gray-600">
                <div class="p-6 md:px-10 md:py-6">
                    <div class="text-xl mb-4">Congrats! You did the thing.</div>
                    <div class="space-y-3">
                        <ul class="list-inside list-disc">
                            <li>Access Token: <b><%= accessToken %></b></li>
                            <li>Refresh Token: <b><%= refreshToken %></b></li>
                        </ul>
                        <% if(locals.addResult !== undefined) { %>
                            <div>Result of trying to add bot automatically: <%= addResult %></div>
                        <% } else { %>
                            <div>Bot was not automatically added to an instance and will need to manually appended to configuration...</div>
                        <% } %>
                        <div>If you are a <b>Moderator</b> then copy the above <b>Tokens</b> and pass them on to the Operator of this ContextMod instance.</div>
                        <div>If you are an <b>Operator</b> copy these somewhere and then restart the application providing these as either arguments, environmental variables, or in a json config as described in the <a
                                    href="https://github.com/FoxxMD/context-mod/blob/master/docs/operatorConfiguration.md#defining-configuration">configuration guide</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <%- include('partials/footer') %>
</div>
</body>
</html>
