<html>
<%- include('partials/head', {title: 'CM'}) %>
<body class="">
<script>localStorage.getItem('ms-dark') === 'no' ? document.body.classList.remove('dark') : document.body.classList.add('dark')</script>
<div class="min-w-screen min-h-screen bg-gray-100 bg-gray-100 dark:bg-gray-800 font-sans">
    <%- include('partials/title', {title: 'Error'}) %>
    <div class="container mx-auto">
        <div class="grid">
            <div class="bg-white dark:bg-gray-500 dark:text-white">
                <div class="p-6 md:px-10 md:py-6">
                    <div class="text-xl mb-4">Oops 😬</div>
                    <div class="space-y-3">
                        <div>Something went wrong while processing that last request:</div>
                        <div class="space-y-3"><%- error %></div>
                        <% if(locals.operatorDisplay !== undefined && locals.operatorDisplay !== 'Anonymous') { %>
                        <div>Operated By: <%= operatorDisplay %></div>
                        <% } %>
                    </div>
                </div>
            </div>
        </div>
    </div>
<%- include('partials/footer') %>
</div>
</body>
</html>
