<html lang="en">
<head>
    <link rel="stylesheet" href="/public/tailwind.min.css"/>
    <script src="https://code.iconify.design/1/1.0.4/iconify.min.js"></script>
    <link rel="stylesheet" href="/public/themeToggle.css">
    <link rel="stylesheet" href="/public/app.css">
    <title><%= title %></title>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width,initial-scale=1.0">
    <!--icons from https://heroicons.com -->
    <style>
        /*.peek a {*/
        /*    display: none;*/
        /*}*/
    </style>
</head>
<body class="bg-gray-900 text-white font-sans">
<div class="min-w-screen min-h-screen">
    <div class="space-x-4 p-6 md:px-10 md:py-6 leading-6 font-semibold bg-gray-500">
        <div class="container mx-auto">
            <div class="flex items-center justify-between">
                <div class="flex items-center flex-grow pr-4">
                    <% if(locals.title !== undefined) { %>
                        <a href="/events?instance=<%= instance %>&bot=<%= bot %><%= subreddit !== undefined ? `&subreddit=${subreddit}` : '' %>"><%= title %></a>
                    <% } %>
                </div>
                <div class="flex items-center flex-end text-sm">
                    <a href="logout">Logout</a>
                </div>
            </div>
        </div>
    </div>
    <div class="container mx-auto">
        <div class="grid">
            <% if(pagination.total > 0) { %>
                <div class="pr-3 pt-3 flex">
                    <div class="flex flex-grow">
                        <input data-subreddit="<%= data.name %>" style="width: 420px;"
                               class="border-gray-50 mr-3 placeholder-gray-500 rounded mt-2 mb-3 p-2 text-black checkUrl"
                               placeholder="Find events by permalink"/>
                        <div>
                            <div class="mb-2">
                            <input type="checkbox" id="related">
                            <label for="related">Include Related?</label>
                            </div>
                            <a id="checkEvents" class="hover:bg-gray-700 opacity-20 no-underline rounded-md py-2 px-3 border" href="">Fetch</a>
                        </div>
                    </div>
                    <div class="flex" style="align-items: center">
                        <input type="checkbox" id="showAll">
                        <label for="showAll">Show all non-triggered details</label>
                    </div>
                </div>
            <% } %>
            <div class="px-3 py-6 space-y-3">
                <% if(pagination.total == 0) { %>
                    No events have been actioned yet!
                <% } else { %>

                <%- include('partials/pagination') %>
                <% } %>
                <% data.forEach(function (eRes) { %>
                    <div class="shadow-lg bg-gray-700 py-1 triggeredStateWrapper">
                        <div class="space-x-4 px-4 p-2 leading-2 triggeredStateToggle">
                            <div class="flex items-center justify-between">
                                <div>
                                    <a class="activityLink font-semibold" target="_blank" href="<%= eRes.activity.link%>"><%= eRes.activity.type === 'comment' ? 'Comment' : 'Submission' %></a>
                                    by <a class="activityLink" target="_blank" href="https://reddit.com/u/<%= eRes.activity.author%>">u/<%= eRes.activity.author%></a>

                                        <span class="has-tooltip ml-1">
                                            <span class='tooltip rounded shadow-lg p-1 bg-gray-100 text-black -mt-2 space-y-3 p-2 text-left'>
                                                <ul class="list-inside list-disc">
                                                    <li>Source: <i><%= eRes.dispatchSource.type%><%= eRes.dispatchSource.identifier !== null ? ` | ${eRes.dispatchSource.identifier}` : ''%><%= eRes.dispatchSource.action !== null ? ` by ${eRes.dispatchSource.action}` : ''%></i></li>
                                                    <li>Queued At: <i><%= eRes.dispatchSource.queuedAt %></i></li>
                                                    <li>Delayed For: <i><%= eRes.dispatchSource.delay %>s</i></li>
                                                    <li>Initial Goto:<i><%= eRes.dispatchSource.goto === null ? '-' : eRes.dispatchSource.goto %></i></li>
                                                </ul>
                                            </span>
                                            from <span class="cursor-help underline" style="text-decoration-style: dotted"><%= eRes.dispatchSource.type%><%= eRes.dispatchSource.identifier !== null ? ` | ${eRes.dispatchSource.identifier}` : ''%><%= eRes.dispatchSource.action !== null ? ` (${eRes.dispatchSource.action})` : ''%></span>
                                        </span>

                                </div>
                                <div class="font-semibold flex items-center flex-end">
                                    <a class="activityLink mr-1" target="_blank" href="https://reddit.com/<%= eRes.activity.subreddit %>">r/<%= eRes.activity.subreddit %></a>
                                     @ <%= eRes.timestamp %>
                                </div>
                            </div>
                        </div>
                        <div class="border-t-2 border-gray-500 triggeredState <%= eRes.triggered ? 'triggered' : 'notTriggered'%>">
                            <div class="m-4 p-2 px-4">
                                <div class="ml-5">
                                    <blockquote class="ml-4 italic" cite="https://reddit.com<%= eRes.activity.link%>">
                                        "<%- eRes.activity.peek %>"
                                    </blockquote>
                                    <% if(eRes.parentSubmission !== undefined) { %>
                                        <div class="my-3">in a <a class="activityLink inline" href="https://reddit.com<%= eRes.parentSubmission.link%>">Submission</a> by <a class="activityLink inline" target="_blank" href="https://reddit.com/u/<%= eRes.parentSubmission.author%>">/u/<%= eRes.parentSubmission.author%></a> titled:</div>
                                    <blockquote class="ml-4 mb-2 italic" cite="https://reddit.com<%= eRes.parentSubmission.link%>">
                                        "<%= eRes.parentSubmission.peek%>"
                                    </blockquote>

                                    <% } %>
                                </div>
                            </div>
                        <% eRes.runResults.forEach(function (runSum, index) { %>
                        <div class="m-4 p-2 px-4 space-y-2 bg-gray-600 triggeredStateWrapper">
                            <div class="triggeredStateToggle">
                                <span class="font-semibold">Run:</span>
                                <span class="px-1"><%= runSum.triggered %></span> <%= runSum.name %>
                            </div>
                            <div class="space-y-2 triggeredState <%= runSum.triggeredVal ? 'triggered' : 'notTriggered'%>">
                                <% if (runSum.error !== undefined && runSum.error !== null) { %>
                                    <span class="font-semibold">Not Run</span> <span class="px-1">=> <%= runSum.error %></span>
                                <% } %>
                                <% if(runSum.authorIs !== undefined || runSum.itemIs !== undefined) { %>
                                <ul class="list-inside list-disc">
                                    <% if(runSum.authorIs !== undefined) { %>
                                        <li>
                                            <span class="font-semibold">Author:</span> <span class="px-1"><%= runSum.authorIs.passed %> (<%= runSum.authorIs.join %>)</span>
                                            <ul class="list-inside list-disc">
                                                <% runSum.authorIs.criteriaResults.forEach(function (res, index) { %>
                                                    <li>Criteria #<%= index + 1 %><%= res.name !== null ? ` (${res.name})` : ''%> => <%= res.summary %>
                                                        <ul class="list-inside list-disc">
                                                            <% res.details.forEach(function (resInside) { %>
                                                                <li><%= resInside %></li>
                                                            <% }) %>
                                                        </ul>
                                                    </li>
                                                <% }) %>
                                            </ul>
                                        </li>
                                    <% } %>
                                        <% if(runSum.itemIs !== undefined) { %>
                                            <li>
                                                <span class="font-semibold">Item:</span> <span class="px-1"><%= runSum.itemIs.passed %> (<%= runSum.itemIs.join %>)</span>
                                                <ul class="list-inside list-disc">
                                                    <% runSum.itemIs.criteriaResults.forEach(function (res, index) { %>
                                                        <li>Criteria #<%= index + 1 %><%= res.name !== null ? ` (${res.name})` : ''%> => <%= res.summary %>
                                                            <ul class="list-inside list-disc">
                                                                <% res.details.forEach(function (resInside) { %>
                                                                    <li><%= resInside %></li>
                                                                <% }) %>
                                                            </ul>
                                                        </li>
                                                    <% }) %>
                                                </ul>
                                            </li>
                                        <% } %>
                                </ul>
                                <% } %>
                            <% runSum.checkResults.forEach(function (chkSum, index) { %>
                                <div class="py-3 px-4 space-y-2 bg-gray-500 triggeredStateWrapper <%= chkSum.triggeredVal ? 'border-2 border-gray-100' : ''%>">
                                    <div class="triggeredStateToggle">
                                        <span class="font-semibold">Check:</span><span class="px-1"><%= chkSum.triggered %></span><%= chkSum.check.name %>
                                        <% if (chkSum.ruleSummary !== '' && chkSum.ruleSummary !== null) { %><span class="px-3">&#10132;</span><%= chkSum.ruleSummary %><% } %>
                                    </div>
                                    <div class="space-y-2 triggeredState <%= chkSum.triggeredVal ? 'triggered' : 'notTriggered'%>">
                                    <% if (chkSum.error !== undefined && chkSum.error !== null) { %>
                                        <span class="font-semibold">Not Run</span><span class="px-1"> => <%= chkSum.error %></span>
                                    <% } %>
                                    <% if(chkSum.authorIs !== undefined || chkSum.itemIs !== undefined) { %>
                                        <ul class="list-inside list-disc">
                                            <% if(chkSum.authorIs !== undefined) { %>
                                                <li>
                                                    <span class="font-semibold">Author:</span> <span class="px-1"><%= chkSum.authorIs.passed %> (<%= chkSum.authorIs.join %>)</span>
                                                    <ul class="list-inside list-disc">
                                                        <% chkSum.authorIs.criteriaResults.forEach(function (res, index) { %>
                                                            <li>Criteria #<%= index %><%= res.name !== null ? ` (${res.name})` : ''%> => <%= res.summary %>
                                                                <ul class="list-inside list-disc">
                                                                    <% res.details.forEach(function (resInside) { %>
                                                                        <li><%= resInside %></li>
                                                                    <% }) %>
                                                                </ul>
                                                            </li>
                                                        <% }) %>
                                                    </ul>
                                                </li>
                                            <% } %>
                                            <% if(chkSum.itemIs !== undefined) { %>
                                                <li>
                                                    <span class="font-semibold">Item:</span> <span class="px-1"><%= chkSum.itemIs.passed %> (<%= chkSum.itemIs.join %>)</span>
                                                    <ul class="list-inside list-disc">
                                                        <% chkSum.itemIs.criteriaResults.forEach(function (res, index) { %>
                                                            <li>Criteria #<%= index %><%= res.name !== null ? ` (${res.name})` : ''%> => <%= res.summary %>
                                                                <ul class="list-inside list-disc">
                                                                    <% res.details.forEach(function (resInside) { %>
                                                                        <li><%= resInside %></li>
                                                                    <% }) %>
                                                                </ul>
                                                            </li>
                                                        <% }) %>
                                                    </ul>
                                                </li>
                                            <% } %>
                                        </ul>
                                    <% } %>
                                    <% if(chkSum.ruleResults.length !== 0) { %>
                                    <div>
                                        <span class="font-semibold">Rules:</span>
                                        <ul class="list-inside list-disc">
                                            <% chkSum.ruleResults.forEach(function (ruleResult) { %>
                                                <% if(ruleResult.condition !== undefined) { %>
                                                        <li> <%= ruleResult.condition %> <%= ruleResult.triggered%>
                                                            <ul class="list-inside list-disc">
                                                                <% ruleResult.results.forEach(function (rsResult) { %>
                                                                    <% if(rsResult.authorIs !== undefined || rsResult.itemIs !== undefined) { %>
                                                                        <li><%= rsResult.name %> <%= rsResult.triggered%>
                                                                            <ul class="list-inside list-disc">
                                                                                <% if(rsResult.authorIs !== undefined) { %>
                                                                                    <li>
                                                                                        <span class="font-semibold">Author:</span> <span class="px-1"><%= rsResult.authorIs.passed %> (<%= rsResult.authorIs.join %>)</span>
                                                                                        <ul class="list-inside list-disc">
                                                                                            <% rsResult.authorIs.criteriaResults.forEach(function (res, index) { %>
                                                                                                <li>Criteria #<%= index %><%= res.name !== null ? ` (${res.name})` : ''%> => <%= res.summary %>
                                                                                                    <ul class="list-inside list-disc">
                                                                                                        <% res.details.forEach(function (resInside) { %>
                                                                                                            <li><%= resInside %></li>
                                                                                                        <% }) %>
                                                                                                    </ul>
                                                                                                </li>
                                                                                            <% }) %>
                                                                                        </ul>
                                                                                    </li>
                                                                                <% } %>
                                                                                <% if(rsResult.itemIs !== undefined) { %>
                                                                                    <li>
                                                                                        <span class="font-semibold">Item:</span> <span class="px-1"><%= rsResult.itemIs.passed %> (<%= rsResult.itemIs.join %>)</span>
                                                                                        <ul class="list-inside list-disc">
                                                                                            <% rsResult.itemIs.criteriaResults.forEach(function (res, index) { %>
                                                                                                <li>Criteria #<%= index %><%= res.name !== null ? ` (${res.name})` : ''%> => <%= res.summary %>
                                                                                                    <ul class="list-inside list-disc">
                                                                                                        <% res.details.forEach(function (resInside) { %>
                                                                                                            <li><%= resInside %></li>
                                                                                                        <% }) %>
                                                                                                    </ul>
                                                                                                </li>
                                                                                            <% }) %>
                                                                                        </ul>
                                                                                    </li>
                                                                                <% } %>
                                                                                <li><span class="font-semibold">Result:</span> <%= rsResult.result %></li>
                                                                            </ul>
                                                                        </li>
                                                                    <% } else { %>
                                                                        <li><%= rsResult.name %> <%= rsResult.triggered%> - <%= rsResult.result %></li>
                                                                    <% } %>
                                                                <% }) %>
                                                            </ul>
                                                        </li>
                                                <% } else if(ruleResult.authorIs !== undefined || ruleResult.itemIs !== undefined) { %>
                                                    <li><%= ruleResult.name %> <%= ruleResult.triggered%>
                                                        <ul class="list-inside list-disc">
                                                            <% if(ruleResult.authorIs !== undefined) { %>
                                                                <li>
                                                                    <span class="font-semibold">Author:</span> <span class="px-1"><%= ruleResult.authorIs.passed %> (<%= ruleResult.authorIs.join %>)</span>
                                                                    <ul class="list-inside list-disc">
                                                                        <% ruleResult.authorIs.criteriaResults.forEach(function (res, index) { %>
                                                                            <li>Criteria #<%= index %><%= res.name !== null ? ` (${res.name})` : ''%> => <%= res.summary %>
                                                                                <ul class="list-inside list-disc">
                                                                                    <% res.details.forEach(function (resInside) { %>
                                                                                        <li><%= resInside %></li>
                                                                                    <% }) %>
                                                                                </ul>
                                                                            </li>
                                                                        <% }) %>
                                                                    </ul>
                                                                </li>
                                                            <% } %>
                                                            <% if(ruleResult.itemIs !== undefined) { %>
                                                                <li>
                                                                    <span class="font-semibold">Item:</span> <span class="px-1"><%= ruleResult.itemIs.passed %> (<%= ruleResult.itemIs.join %>)</span>
                                                                    <ul class="list-inside list-disc">
                                                                        <% ruleResult.itemIs.criteriaResults.forEach(function (res, index) { %>
                                                                            <li>Criteria #<%= index %><%= res.name !== null ? ` (${res.name})` : ''%> => <%= res.summary %>
                                                                                <ul class="list-inside list-disc">
                                                                                    <% res.details.forEach(function (resInside) { %>
                                                                                        <li><%= resInside %></li>
                                                                                    <% }) %>
                                                                                </ul>
                                                                            </li>
                                                                        <% }) %>
                                                                    </ul>
                                                                </li>
                                                            <% } %>
                                                            <li><span class="font-semibold">Result:</span> <%= ruleResult.result %></li>
                                                        </ul>
                                                    </li>
                                                <% } else { %>
                                                    <li><%= ruleResult.name %> <%= ruleResult.triggered%> - <%= ruleResult.result %></li>
                                                <% } %>
                                            <% }) %>
                                        </ul>
                                    </div>
                                    <% } %>
                                    <% if(chkSum.actionResults.length !== 0) { %>
                                    <div><span class="font-semibold">Actions</span>

                                            <ul class="list-inside list-disc">
                                                <% chkSum.actionResults.forEach(function (aRes) { %>
                                                    <% if (aRes.error !== undefined) { %>
                                                        <span class="font-semibold">Not Run</span><span class="px-1"> => <%= aRes.error %></span>
                                                    <% } %>
                                                    <% if(aRes.authorIs !== undefined || aRes.itemIs !== undefined) { %>
                                                        <li><%= aRes.name %> <%= aRes.triggered%>
                                                            <ul class="list-inside list-disc">
                                                                <% if(aRes.authorIs !== undefined) { %>
                                                                    <li>
                                                                        <span class="font-semibold">Author:</span> <span class="px-1"><%= aRes.authorIs.passed %> (<%= aRes.authorIs.join %>)</span>
                                                                        <ul class="list-inside list-disc">
                                                                            <% aRes.authorIs.criteriaResults.forEach(function (res, index) { %>
                                                                                <li>Criteria #<%= index %><%= res.name !== null ? ` (${res.name})` : ''%> => <%= res.summary %>
                                                                                    <ul class="list-inside list-disc">
                                                                                        <% res.details.forEach(function (resInside) { %>
                                                                                            <li><%= resInside %></li>
                                                                                        <% }) %>
                                                                                    </ul>
                                                                                </li>
                                                                            <% }) %>
                                                                        </ul>
                                                                    </li>
                                                                <% } %>
                                                                <% if(aRes.itemIs !== undefined) { %>
                                                                    <li>
                                                                        <span class="font-semibold">Item:</span> <span class="px-1"><%= aRes.itemIs.passed %> (<%= aRes.itemIs.join %>)</span>
                                                                        <ul class="list-inside list-disc">
                                                                            <% aRes.itemIs.criteriaResults.forEach(function (res, index) { %>
                                                                                <li>Criteria #<%= index %><%= res.name !== null ? ` (${res.name})` : ''%> => <%= res.summary %>
                                                                                    <ul class="list-inside list-disc">
                                                                                        <% res.details.forEach(function (resInside) { %>
                                                                                            <li><%= resInside %></li>
                                                                                        <% }) %>
                                                                                    </ul>
                                                                                </li>
                                                                            <% }) %>
                                                                        </ul>
                                                                    </li>
                                                                <% } %>
                                                                <li><span class="font-semibold">Result:</span> <%= aRes.result %></li>
                                                            </ul>
                                                        </li>
                                                    <% } else { %>
                                                            <li><%= aRes.name %><%= aRes.dryRun %> - <%= aRes.result %></li>
                                                    <% } %>
                                                <% }) %>
                                            </ul>
                                    </div>
                                    <% } %>
                                    <div>
                                        <span class="font-semibold">Post <%= chkSum.triggered ? 'Trigger' : 'Fail' %> Behavior <span class="px-1">&#10132;</span> <%= chkSum.postBehavior %></span>
                                    </div>
                                    </div>
                                </div>
                        <% }) %>
                            </div>
                    </div>
                        <% }) %>
                        </div>
            </div>
                <% }) %>
            <%- include('partials/pagination') %>
            </div>
        </div>
    </div>
    <%- include('partials/footer') %>
</div>
<%- include('partials/paginationJs') %>
<script>
    function toggleShowNonTriggered(val) {
        document.querySelectorAll('.triggeredState').forEach(el => {
            el.classList.remove('show','hide');
            if(val && el.classList.contains('notTriggered')) {
                el.classList.add('show');
            }
        });
    }
    document.querySelector('#showAll').addEventListener('change', (e) => {
        toggleShowNonTriggered(e.target.checked);
        localStorage.setItem('showNonTriggered', e.target.checked);
    });

    const initShowNonTiggeredState = localStorage.getItem('showNonTriggered');
    if(initShowNonTiggeredState === 'true') {
        document.querySelector('#showAll').checked = true;
        toggleShowNonTriggered(true);
    }

    document.querySelectorAll('.triggeredStateToggle').forEach(el => {
        el.addEventListener('click', (e) => {
            if(e.target.nodeName.toLowerCase() !== 'a') {
                const tElm = e.currentTarget.closest('.triggeredStateWrapper').querySelector('.triggeredState');
                if(tElm !== null) {
                    if(tElm.classList.contains('triggered')) {
                        if(tElm.classList.contains('hide')) {
                            tElm.classList.remove('hide');
                        } else {
                            tElm.classList.add('hide');
                        }
                    } else {
                        if(tElm.classList.contains('show')) {
                            tElm.classList.remove('show');
                        } else {
                            tElm.classList.add('show');
                        }
                    }
                }
            }
        });
    });

    document.querySelectorAll(".checkUrl").forEach(el => {
        const toggleButtons = (e) => {
            const inputVal = e.currentTarget.value;
            if (inputVal.length > 0) {
                document.querySelectorAll(`#checkEvents`).forEach(el => {
                    el.classList.remove('pointer-events-none', 'opacity-20');
                });
            } else {
                document.querySelectorAll(`#checkEvents`).forEach(el => {
                    el.classList.add('pointer-events-none', 'opacity-20');
                });
            }
        }
        el.addEventListener('keyup', toggleButtons, false);
        el.addEventListener('change', toggleButtons, false);
    });

    document.querySelector('#checkEvents').addEventListener('click', (e) => {
        e.preventDefault();
        const currParams = new URLSearchParams(window.location.search);
        const includeRelated  = document.querySelector('#related').checked;
        const permalink = document.querySelector('.checkUrl').value;

        currParams.set('permalink', permalink);
        currParams.set('includeRelated', includeRelated);
        currParams.set('page', 1);

        const newUrl = window.location.pathname + '?' + currParams.toString();
        window.location.href = newUrl;
    });
</script>
</body>
</html>
