<html>
<head>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/tailwindcss/2.0.3/tailwind.min.css"
          integrity="sha512-wl80ucxCRpLkfaCnbM88y4AxnutbGk327762eM9E/rRTvY/ZGAHWMZrYUq66VQBYMIYDFpDdJAOGSLyIPHZ2IQ=="
          crossorigin="anonymous"/>
    <script src="https://code.iconify.design/1/1.0.4/iconify.min.js"></script>
    <link rel="stylesheet" href="/public/themeToggle.css">
    <link rel="stylesheet" href="/public/app.css">
    <title><%= title %></title>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width,initial-scale=1.0">
    <!--icons from https://heroicons.com -->
    <style>
        .peek a {
            display: none;
        }
    </style>
</head>
<body class="bg-gray-900 text-white font-sans">
<script>localStorage.getItem('ms-dark') === 'no' ? document.body.classList.remove('dark') : document.body.classList.add('dark')</script>
<div class="min-w-screen min-h-screen">
    <%- include('partials/title') %>
    <div class="container mx-auto">
        <div class="grid">
            <div class="px-3 py-6 space-y-3">
                <% if(data.length === 0) { %>
                    No events have been actioned yet!
                <% } %>
                <% data.forEach(function (eRes){ %>
                    <div class="shadow-lg">
                        <div class="space-x-4 px-4 p-2 leading-2 font-semibold bg-gray-700">
                            <div class="flex items-center justify-between">
                                <div>
                                <span class="peek"><%- eRes.activity.peek %></span><a target="_blank" href="https://reddit.com<%= eRes.activity.link%>">(Link)</a>
                                </div>
                                <div class="flex items-center flex-end">
                                    <%= eRes.subreddit %> @ <%= eRes.timestamp %>
                                </div>
                            </div>
                        </div>
                        <div class="p-4 pl-6 pt-3 space-y-2 bg-gray-500">
                            <div><span class="font-semibold">Check:</span> <%= eRes.check %><span class="px-3">&#10132;</span><%= eRes.ruleSummary %></div>
                            <div>
                                <span class="font-semibold">Rules:</span>
                                <ul class="list-inside list-disc">
                                    <% eRes.ruleResults.forEach(function (ruleResult) { %>
                                        <li><%= ruleResult.name %> - <%= ruleResult.triggered%> - <%= ruleResult.result %></li>
                                    <% }) %>
                                </ul>
                            </div>
                            <div><span class="font-semibold">Actions</span>
                                <ul class="list-inside list-disc">
                                    <% eRes.actionResults.forEach(function (aRes) { %>
                                        <li><%= aRes.name %><%= aRes.dryRun %> - <%= aRes.result %></li>
                                    <% }) %>
                                </ul>
                            </div>
                        </div>
                    </div>
                <% }) %>
            </div>
        </div>
    </div>
    <%- include('partials/footer') %>
</div>
</body>
</html>
