<html lang="en">
<%- include('partials/head', {title: 'CM OAuth Helper'}) %>
<body class="bg-gray-900 text-white">
<div class="min-w-screen min-h-screen font-sans">
    <%- include('partials/title', {title: ' OAuth Helper'}) %>
    <div class="container mx-auto">
        <div class="grid">
            <div class="bg-gray-600">
                <div class="p-6 md:px-10 md:py-6">
                    <div class="text-xl mb-4">Hi! Looks like you're accepting an invite to authorize an account to run on this ContextMod instance:</div>
                    <div class="text-lg text-semibold my-3">1. Visit this page while <strong>logged in to the Reddit account that will be the bot</strong>
                    </div>
                    <div class="ml-5">
                        <div class="space-y-3">
                            <div>Protip: Login to Reddit in an Incognito session, then open this URL in a new tab.</div>
                        </div>
                    </div>
                    <div class="text-lg text-semibold my-3">2. Review permissions</div>
                    <div class="my-2 ml-5">
                        <div class="space-y-3">
                            <div>These are permissions to allow the bot account to perform these actions, <b>in
                                    general.</b> They were pre-selected by the user who you received this invitation from.</div>
                            <div>In all cases the subreddit this account moderates for will <b>also need to give the bot
                                    moderator permissions to do these actions</b> -- this is just an extra precaution if
                                you are super paranoid.
                            </div>
                            <div><b>Note:</b> None of the permissions the bot receive allow it to view/edit the email or
                                password for the account
                            </div>
                        </div>
                        <div class="mt-1">
                            <div class="my-3">
                                <h3 class="font-semibold">Required</h3>
                                <div>The following permissions are required for the bot to do <i>anything.</i></div>
                            </div>
                            <div>
                                <input class="permissionToggle" type="checkbox" id="identity" name="identity"
                                       disabled>
                                <label for="identity"><span class="font-mono font-semibold">identity</span> required for
                                    the bot to know who it is</label>
                            </div>
                            <div>
                                <input class="permissionToggle" type="checkbox" id="mysubreddits" name="mysubreddits"
                                       disabled>
                                <label for="mysubreddits"><span class="font-mono font-semibold">mysubreddits</span>
                                    required for the bot to find out what subreddits it moderates</label>
                            </div>
                            <div>
                                <input class="permissionToggle" type="checkbox" id="read" name="read"
                                       disabled>
                                <label for="read"><span class="font-mono font-semibold">read</span> required for the bot
                                    to be able to access other's activities</label>
                            </div>
                            <div>
                                <input class="permissionToggle" type="checkbox" id="history" name="history"
                                       disabled>
                                <label for="history"><span class="font-mono font-semibold">history</span> required for
                                    the bot to be able to access other user's history</label>
                            </div>
                            <div>
                                <input class="permissionToggle" type="checkbox" id="wikiread" name="wikiread"
                                       disabled>
                                <label for="wikiread"><span class="font-mono font-semibold">wikiread</span> required for
                                    the bot to read configurations in the subreddits it moderates</label>
                            </div>
                            <div class="my-3">
                                <h3 class="font-semibold">Recommended</h3>
                                <div class="mb-1">The following permissions cover what is necessary for the bot to
                                    perform moderation actions
                                </div>
                            </div>
                            <div>
                                <input class="permissionToggle" type="checkbox" id="privatemessages"
                                       name="privatemessages" disabled>
                                <label for="privatemessages"><span
                                            class="font-mono font-semibold">privatemessages</span> for the bot to send
                                    messages as itself</label>
                            </div>
                            <div>
                                <input class="permissionToggle" type="checkbox" id="modmail" name="modmail" disabled>
                                <label for="modmail"><span class="font-mono font-semibold">modmail</span> for the bot to
                                    send messages as a subreddit</label>
                            </div>
                            <div>
                                <input class="permissionToggle" type="checkbox" id="modflair" name="modflair" disabled>
                                <label for="modflair"><span class="font-mono font-semibold">modflair</span> for the bot
                                    to flair users and submissions in the subreddits it moderates</label>
                            </div>
                            <div>
                                <input class="permissionToggle" type="checkbox" id="modcontributors"
                                       name="modcontributors" disabled>
                                <label for="modcontributors"><span
                                            class="font-mono font-semibold">modcontributors</span> for the bot to
                                    ban/mute users in the subreddits it moderates</label>
                            </div>
                            <div>
                                <input class="permissionToggle" type="checkbox" id="flair" name="flair" disabled>
                                <label for="flair"><span class="font-mono font-semibold">flair</span> for the bot
                                    to select subreddit flairs.</label>
                            </div>
                            <div>
                                <input class="permissionToggle" type="checkbox" id="modposts" name="modposts" disabled>
                                <label for="modposts"><span class="font-mono font-semibold">modposts</span> for the bot
                                    to approve/remove/nsfw/distinguish/etc. submissions/comments in the subreddits it
                                    moderates</label>
                            </div>
                            <div>
                                <input class="permissionToggle" type="checkbox" id="report" name="report" disabled>
                                <label for="report"><span class="font-mono font-semibold">report</span> for the bot to
                                    be able to report submissions/comments</label>
                            </div>
                            <div>
                                <input class="permissionToggle" type="checkbox" id="submit" name="submit" disabled>
                                <label for="submit"><span class="font-mono font-semibold">submit</span> for the bot to
                                    reply to submissions/comments</label>
                            </div>
                            <div class="my-3">
                                <h3 class="font-semibold">Optional</h3>
                                <div>The following permissions cover additional functionality ContextMod can use or may
                                    in the use future
                                </div>
                            </div>
                            <div>
                                <input class="permissionToggle" type="checkbox" id="modwiki" name="modwiki" disabled>
                                <label for="modwiki"><span class="font-mono font-semibold">modwiki</span> for the bot
                                    to be able to set the visibility for its own config page</label>
                            </div>
                            <div>
                                <input class="permissionToggle" type="checkbox" id="wikiedit" name="wikiedit" disabled>
                                <label for="wikiedit"><span class="font-mono font-semibold">wikiedit</span> for the bot
                                    to be able to create/edit it own config page and Toolbox User Notes</label>
                            </div>
                            <div>
                                <input class="permissionToggle" type="checkbox" id="modself" name="modself" disabled>
                                <label for="modself"><span class="font-mono font-semibold">modself</span> for the bot
                                    to be able to accept moderator invitations programmatically</label>
                            </div>
                            <div>
                                <input class="permissionToggle" type="checkbox" id="modnote" name="modnote" disabled>
                                <label for="modnote"><span class="font-mono font-semibold">modnote</span> for the bot to
                                    be able to read and write Mod Notes</label>
                            </div>
                            <div>
                                <input class="permissionToggle" type="checkbox" id="modlog" name="modlog" disabled>
                                <label for="modlog"><span class="font-mono font-semibold">modlog</span> for the bot to be
                                    able to read the moderation log (not currently implemented)</label>
                            </div>
                        </div>
                    </div>
                    <div class="text-lg text-semibold my-3">3. Choose initial Guest Access</div>
                    <div class="my-2 ml-5">
                        <div class="space-y-3">
                            <div><b>Guests</b> are Reddit users who are NOT moderators of your Subreddits but can still access the Bot's dashboard and modify its configuration. They <strong>only</strong> have access to ContextMod -- not your subreddit in general.</div>
                            <div>Guest are useful when a reddit user who is not a moderator of your subreddits is helping setup configurations for your bot. Usually this is the Operator of this CM server.</div>
                            <div>Users specified below will be added to all Subreddits for <strong>24 hours</strong> after which they will be automatically removed. You can manually remove Guest from any/all subreddits at any time from the dashboard.</div>
                            <input id="guestMods" disabled style="max-width:800px; display: block;"
                                   class="text-black placeholder-gray-500 rounded mt-2 mb-3 p-2 w-full"
                                   placeholder="RedditUser1,RedditUser2" value="<%- guests %>">
                            <% if(guests.length > 0) { %>
                                <div><strong>Note:</strong> The user(s) above have been pre-filled by the Operator of this server.</div>
                            <% } %>
                        </div>
                    </div>
                    <div class="text-lg text-semibold my-3">4. <a id="doAuth" href="">Authorize the account</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<script>
    const permissions = <%- permissions %>;

    for(const [k, v] of Object.entries(permissions)) {
        document.querySelector(`input#${k}`).checked = v;
    }
    document.querySelector('#doAuth').addEventListener('click', e => {
        e.preventDefault()
        const url = `${document.location.origin}/auth/init/<%= invite %>`;
        window.location.href = url;
    })
</script>
</body>
</html>
