<html lang="en">
<%- include('partials/head', {title: 'CM'}) %>
<body class="bg-gray-900 text-white font-sans">
<div class="min-w-screen min-h-screen">
    <%- include('partials/title', {title: 'Migrations Required'}) %>
    <div class="container mx-auto">
        <div class="grid">
            <div class="bg-gray-600">
                <div class="p-6 md:px-10 md:py-6">
                    <div class="text-xl mb-4">Database migrations are required to run ContextMod (<%= type === 'app' ? 'Application' : 'Web'%>)</div>
                    <div class="space-y-3">
                        <% if(migrationBlocker === 'pending') { %>
                            <div>There are new migrations for ContextMod that do not appear in your configured
                                database.
                            </div>
                        <% } else { %>
                            <div>DANGER! Your database has existing tables but none of them include a 'migrations'
                                table.
                            </div>
                            <div>Are you sure this is the correct database? Continuing with migrations will most likely
                                drop any existing data and recreate all tables.
                            </div>
                        <% } %>
                        <div><strong>NOTE:</strong> If you have an existing database it is <strong>strongly recommended
                                to create a backup</strong> before continuing.
                        </div>
                        <div>
                            <a id="backup" class="hover:bg-gray-700 no-underline rounded-md py-2 px-3 mr-5 border" href="">(Try)
                                Database Backup</a> <a id="run"
                                                       class="hover:bg-gray-700 no-underline rounded-md py-2 px-3 border"
                                                       href="">Run Migrations</a>
                        </div>
                        <div id="outcome" class="font-semibold"></div>
                        <div style="margin-top: 40px;">
                            <div class="font-semibold mb-4">Logs</div>
                            <div id="logs" class="font-mono text-sm" style="white-space: pre-wrap"></div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <%- include('partials/footer') %>
</div>
</body>
<script>
    document.querySelector('#run').addEventListener('click', e => {
        e.preventDefault();
        fetch(`<%= type === 'app'  ? '/api' : ''%>/database/migrate<%= type === 'app'  ? '?instance=' + instance : ''%>`, {
            method: 'POST'
        }).then((resp) => {
            resp.text().then(data => {
                document.querySelector('#logs').innerHTML = data.split('\r\n').join('<br/>');
            });
            if (!resp.ok) {
                document.querySelector('#outcome').innerHTML = 'Error occurred while running migrations';
            } else {
                document.querySelector('#outcome').innerHTML = 'Migration completed successfully! The dashboard will be available within 10 seconds (keep refreshing the page)';
                <% if(type === 'app') { %>
                fetch(`/api/init?instance=<%= instance %>`, {
                    method: 'POST'
                });
                <% } %>
            }
        });
    });
    document.querySelector('#backup').addEventListener('click', e => {
        e.preventDefault();
        fetch(`<%= type === 'app'  ? '/api' : ''%>/database/backup<%= type === 'app'  ? '?instance=' + instance : ''%>`, {
            method: 'POST'
        }).then((resp) => {
            resp.text().then(data => {
                document.querySelector('#logs').innerHTML = data.split('\r\n').join('<br/>');
            });
            if (!resp.ok) {
                document.querySelector('#outcome').innerHTML = 'Error occurred while creating backup';
            } else {
                document.querySelector('#outcome').innerHTML = 'Backup successful! It is now SAFE to run migrations';
            }
        });
    });

    fetch(`<%= type === 'app'  ? '/api' : ''%>/database/logs<%= type === 'app'  ? '?instance=' + instance : ''%>`).then((resp) => {
        resp.text().then(data => {
            document.querySelector('#logs').innerHTML = data.split('\r\n').join('<br/>');
        });
    });
</script>
</html>
