<div class="space-x-4 p-6 md:px-10 md:py-6 leading-6 font-semibold bg-gray-500 text-white">
    <div class="container mx-auto">
        <div class="flex items-center justify-between">
            <div class="flex items-center flex-grow pr-4">
                <% if(locals.instances !== undefined) { %>
                <ul class="inline-flex flex-wrap">
                    <% instances.forEach(function (data) { %>
                        <li class="my-3 px-3">
                                <span data-instance="<%= data.friendly %>" class="has-tooltip instanceSelectWrapper rounded-md py-3 px-3">
                                    <span class='tooltip rounded shadow-lg p-1 bg-gray-100 text-black' style="margin-top:3em">
                                        <div class="stats">
                                            <% if(data.canAccessLocation) { %>
                                                <label>Location</label>
                                                <span><%= data.normalUrl %></span>
                                            <% } %>
                                            <label>Online</label>
                                            <span><%= data.online %></span>
                                            <label>Running</label>
                                            <span><%= data.running %></span>
                                            <label>Error</label>
                                            <span><%= data.error %></span>
                                        </div>
                                    </span>
                                    <span>
                                        <a class="instanceSelect hover:font-bold" href="/?instance=<%= data.friendly %>">
                                        <%= data.friendly %>
                                        </a>
                                        <span class="inline-block mb-0.5 ml-0.5 w-2 h-2 bg-<%= data.online ? 'green' : 'gray' %>-400 rounded-full"></span>
                                    </span>
                                </span>
                        </li>
                    <% }) %>
                </ul>
                <% } %>
            </div>
            <% if(locals.showHelp === true) { %>
            <div id="help" class="flex items-center mr-8 text-sm">
                <a id="helpStart" href="" >
                    Help
                </a>
            </div>
            <% } %>
            <div class="flex items-center mr-8 text-sm">
                <a href="https://redditstatus.com" target="_blank">
                    <span>Reddit Status: <span id="redditStatus" class="ml-2"><span class="iconify-inline" data-icon="ep:question-filled"></span></span></span>
                </a>
            </div>
            <div class="flex items-center text-sm">
                <a href="logout">Logout</a>
            </div>
        </div>
    </div>
</div>
