<!--UI: https://tailwindui.com/components/application-ui/navigation/pagination#component-69eb9381f977800aa890ce8f7d9e2d20-->
<!-- Logic: https://evdokimovm.github.io/javascript/nodejs/mongodb/pagination/expressjs/ejs/bootstrap/2017/08/20/create-pagination-with-nodejs-mongodb-express-and-ejs-step-by-step-from-scratch.html -->
<div class="px-4 py-3 flex items-center justify-between sm:px-6">
    <div class="flex-1 flex justify-between sm:hidden">
        <a href="#" class="relative inline-flex items-center px-4 py-2 border border-gray-300 text-sm font-medium rounded-md text-white hover:bg-gray-50"> Previous </a>
        <a href="#" class="ml-3 relative inline-flex items-center px-4 py-2 border border-gray-300 text-sm font-medium rounded-md text-white hover:bg-gray-50"> Next </a>
    </div>
    <div class="hidden sm:flex-1 sm:flex sm:items-center sm:justify-between">
        <div>
            <p class="text-sm text-white">
                Showing
                <span class="font-medium"><%= pagination.from%></span>
                to
                <span class="font-medium"><%= pagination.to%></span>
                of
                <span class="font-medium"><%= pagination.total%></span>
                results
            </p>
        </div>
        <div>
            <nav class="relative z-0 inline-flex rounded-md shadow-sm -space-x-px" aria-label="Pagination">
                <% if (pagination.last_page > 0) { %>
                    <a href="#" data-page="1" class="paginatorLink <%= pagination.current_page == 1 ? 'pointer-events-none' : ''  %> relative inline-flex items-center px-2 py-2 rounded-l-md border border-gray-300 text-white text-sm font-medium text-white hover:bg-gray-700">
                        <span>First</span>
                        <!-- Heroicon name: solid/chevron-left -->
                        <!--<svg class="h-5 w-5" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 20 20" fill="currentColor" aria-hidden="true">
                            <path fill-rule="evenodd" d="M12.707 5.293a1 1 0 010 1.414L9.414 10l3.293 3.293a1 1 0 01-1.414 1.414l-4-4a1 1 0 010-1.414l4-4a1 1 0 011.414 0z" clip-rule="evenodd" />
                        </svg>-->
                    </a>
                    <% var i = (Number(pagination.current_page) > 5 ? Number(pagination.current_page) - 4 : 1) %>
                    <% if (i !== 1) { %>
                        <span class="relative inline-flex items-center px-4 py-2 border border-gray-300 text-sm font-medium text-white"> ... </span>
                    <% } %>
                    <% for (; i <= (Number(pagination.current_page) + 4) && i <= pagination.last_page; i++) { %>
                        <% if (i == pagination.current_page) { %>
                            <a href="#" aria-current="page" data-page="<%= i %>" class="paginatorLink z-10 bg-gray-600 border-gray-300 text-white relative inline-flex items-center px-4 py-2 border text-sm font-medium"> <%= i %> </a>
                        <% } else { %>
                            <a href="#" data-page="<%= i %>" class="paginatorLink border-gray-300 text-white hover:bg-gray-700 relative inline-flex items-center px-4 py-2 border text-sm font-medium"> <%= i %> </a>
                        <% } %>
                        <% if (i == Number(pagination.current_page) + 4 && i < pagination.last_page) { %>
                            <span class="relative inline-flex items-center px-4 py-2 border border-gray-300 text-sm font-medium text-white"> ... </span>
                        <% } %>
                    <% } %>
                    <a href="#" data-page="<%= pagination.last_page %>" class="paginatorLink <%= pagination.current_page == pagination.last_page ? 'pointer-events-none' : '' %> relative inline-flex items-center px-2 py-2 rounded-r-md border border-gray-300 text-sm font-medium text-white hover:bg-gray-700">
                        <span>Last</span>
                        <!-- Heroicon name: solid/chevron-right -->
                        <!--<svg class="h-5 w-5" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 20 20" fill="currentColor" aria-hidden="true">
                            <path fill-rule="evenodd" d="M7.293 14.707a1 1 0 010-1.414L10.586 10 7.293 6.707a1 1 0 011.414-1.414l4 4a1 1 0 010 1.414l-4 4a1 1 0 01-1.414 0z" clip-rule="evenodd" />
                        </svg>-->
                    </a>
                <% } %>
            </nav>
        </div>
    </div>
</div>
