<html>
<%- include('partials/head', {title: undefined}) %>
<body class="">
<script>localStorage.getItem('ms-dark') === 'no' ? document.body.classList.remove('dark') : document.body.classList.add('dark')</script>
<div class="min-w-screen min-h-screen bg-gray-100 bg-gray-100 dark:bg-gray-800 font-sans">
    <%- include('partials/authTitle') %>
    <div class="space-x-4 py-1 md:px-10 leading-6 font-semibold bg-gray-500 dark:bg-gray-700 text-white">
        <div class="container mx-auto">
            <div class="flex items-center justify-between py-1">
                <ul id="tabs" class="inline-flex">
                    <% subreddits.forEach(function (data){ %>
                        <li class="px-4 py-2 dark:text-white rounded-t">
                            <a class="tabSelect font-normal"
                               data-subreddit="<%= data.name %>"
                               href="#<%= data.name %>">
                                <%= data.name %>
                            </a>
                            <% if ((data.name === 'All' && isOperator) || data.name !== 'All') { %>
                                <span class="inline-block mb-0.5 ml-0.5 w-2 h-2 mr-2 bg-<%= data.indicator %>-400 rounded-full"></span>
                            <% } %>
                        </li>
                    <% }) %>
                </ul>
                <div class="flex items-center flex-end font-normal">
                    <label style="font-size:3px;">
                        <input class='toggle-checkbox' type='checkbox' id="themeToggle" checked></input>
                        <div class='toggle-slot'>
                            <div class='sun-icon-wrapper'>
                                <div class="iconify sun-icon" data-icon="feather-sun" data-inline="false"></div>
                            </div>
                            <div class='toggle-button'></div>
                            <div class='moon-icon-wrapper'>
                                <div class="iconify moon-icon" data-icon="feather-moon" data-inline="false"></div>
                            </div>
                        </div>
                    </label>
                </div>
            </div>
        </div>
    </div>
    <div class="container mx-auto">
        <div class="grid">
            <div class="bg-white dark:bg-gray-500 dark:text-white">
                <div class="pb-6 pt-3 md:px-7">
<!--                    <div class="flex items-center justify-around">-->
<!--                        -->

<!--                    </div>-->
                    <% subreddits.forEach(function (data){ %>
                        <div class="sub" data-subreddit="<%= data.name %>">
                            <div class="grid grid-cols-1 lg:grid-cols-2 xl:grid-cols-3 2xl:grid-cols-3 gap-5">
                                <div class="bg-white shadow-md rounded my-3 dark:bg-gray-500 dark:text-white">
                                    <div class="space-x-4 px-4 p-2 leading-2 font-semibold bg-gray-300 dark:bg-gray-700 dark:text-white">
                                        <div class="flex items-center justify-between">
                                            <h4>Overview</h4>
                                            <% if (data.name === 'All') { %>
                                                <div class="flex items-center flex-end">
                                                    <div>
                                                        <a class="action" data-action="start" data-type="bot"
                                                           data-subreddit="<%= data.name %>"
                                                           href="#">Start All</a> |
                                                        <a class="action" data-action="stop" data-type="bot"
                                                           data-subreddit="<%= data.name %>"
                                                           href="#">Stop All</a> |
                                                        <a class="action" data-action="reload"
                                                           data-subreddit="<%= data.name %>"
                                                           href="#">Update All</a>
                                                    </div>
                                                </div>
                                            <% } else { %>
                                                <div class="flex items-center flex-end">
                                                    <div>
                                                        <span class="mr-2">Check:</span>
                                                        <a class="action" data-action="check" data-type="unmoderated"
                                                           data-subreddit="<%= data.name %>"
                                                           href="#">Unmoderated</a> |
                                                        <a class="action" data-action="check" data-type="modqueue"
                                                           data-subreddit="<%= data.name %>"
                                                           href="#">Modqueue</a>
                                                    </div>
                                                </div>
                                            <% } %>
                                        </div>
                                    </div>
                                    <div class="p-4">
                                        <div class="stats">
                                            <% if (data.name !== 'All') { %>
                                                <label>Bot</label>
                                                <div class="flex items-center justify-between">
                                                    <span class="font-semibold"><%= `${data.botState.state}${data.botState.causedBy === 'system' ? '' : ' (user)'}` %></span>
                                                    <div class="flex items-center flex-end">
                                                        <div>
                                                            <a class="action" data-action="start" data-type="bot"
                                                               data-subreddit="<%= data.name %>" href="#">Start</a> |
                                                            <a class="action" data-action="stop" data-type="bot"
                                                               data-subreddit="<%= data.name %>" href="#">Stop</a>
                                                        </div>
                                                    </div>
                                                </div>
                                                <label>Queue</label>
                                                <div class="flex items-center justify-between">
                                                    <span class="font-semibold"><%= `${data.queueState.state}${data.queueState.causedBy === 'system' ? '' : ' (user)'}` %></span>
                                                    <div class="flex items-center flex-end">
                                                        <div>
                                                            <a class="action" data-action="start" data-type="queue"
                                                               data-subreddit="<%= data.name %>" href="#">Start</a> |
                                                            <a class="action" data-action="pause" data-type="queue"
                                                               data-subreddit="<%= data.name %>" href="#">Pause</a> |
                                                            <a class="action" data-action="stop" data-type="queue"
                                                               data-subreddit="<%= data.name %>" href="#">Stop</a>
                                                        </div>
                                                    </div>
                                                </div>
                                                <label>Events</label>
                                                <div class="flex items-center justify-between">
                                                    <span class="font-semibold"><%= `${data.eventsState.state}${data.eventsState.causedBy === 'system' ? '' : ' (user)'}` %></span>
                                                    <div class="flex items-center flex-end">
                                                        <div>
                                                            <a class="action" data-action="start" data-type="event"
                                                               data-subreddit="<%= data.name %>" href="#">Start</a> |
                                                            <a class="action" data-action="pause" data-type="event"
                                                               data-subreddit="<%= data.name %>" href="#">Pause</a> |
                                                            <a class="action" data-action="stop" data-type="event"
                                                               data-subreddit="<%= data.name %>" href="#">Stop</a>
                                                        </div>
                                                    </div>
                                                </div>
                                                <label>Activities</label>
                                                <span class="has-tooltip">
                                                    <span style="margin-top:-55px"
                                                          class='tooltip rounded shadow-lg p-1 bg-gray-100 text-black'>
                                                        <div>Max Concurrent Processing</div>
                                                        <div>Config: <%= data.maxWorkers %></div>
                                                    </span>
                                                    <span><%= `${data.runningActivities} Processing / ${data.queuedActivities} Queued` %></span>
                                                </span>
                                                <label>Slow Mode</label>
                                                <span><%= data.delayBy %></span>
                                            <% } %>
                                            <% if (data.name === 'All') { %>
                                                <label>Uptime</label>
                                                <span class="has-tooltip">
                                                    <span class='tooltip rounded shadow-lg p-1 bg-gray-100 text-black -mt-2'>
                                                        <%= system.startedAt %>
                                                    </span>
                                                    <span>
                                                        <span id="startedAtHuman"><%= system.startedAtHuman %></span>
                                                    </span>
                                                </span>
                                                <label>Heartbeat Interval</label>
                                                <span class="has-tooltip">
                                                    <span class='tooltip rounded shadow-lg p-1 bg-gray-100 text-black -mt-2'>
                                                        <%= data.heartbeat %> seconds
                                                    </span>
                                                    <%= data.heartbeatHuman %>
                                                </span>
                                                <label>Next Heartbeat</label>
                                                <span class="has-tooltip">
                                                    <span class='tooltip rounded shadow-lg p-1 bg-gray-100 text-black -mt-2'>
                                                        <span id="nextHeartbeat"><%= data.nextHeartbeat %></span>
                                                    </span>
                                                    <span id="nextHeartbeatHuman"><%= data.nextHeartbeatHuman %></span>
                                                </span>
                                            <% } %>
                                        </div>
                                        <% if (data.name !== 'All') { %>
                                            <ul class="list-disc list-inside mt-4">
                                                <% data.pollingInfo.forEach(function (i){ %>
                                                    <li>Polling <%- i %></li>
                                                <% }) %>
                                            </ul>
                                        <% } %>
                                    </div>
                                </div>
                                <% if (data.name === 'All') { %>
                                    <div class="bg-white shadow-md rounded my-3 dark:bg-gray-500 dark:text-white">
                                        <div class="space-x-4 px-4 p-2 leading-2 font-semibold bg-gray-300 dark:bg-gray-700 dark:text-white">
                                            <h4>API</h4>
                                        </div>
                                        <div class="p-4">
                                            <div class="stats">
                                                <label>Soft Limit</label>
                                                <span>< <span id="softLimit"><%= data.softLimit %></span></span>
                                                <label>Hard Limit</label>
                                                <span>< <span id="softLimit"><%= data.hardLimit %></span></span>
                                                <label>Api Nanny</label>
                                                <span><b><span id="nannyMode"><%= data.nannyMode %></span></b></span>
                                                <label>Api Usage</label>
                                                <span><span id="apiLimit"><%= data.apiLimit %></span>/600 (~<span id="apiAvg"><%= data.apiAvg %></span>req/s)</span>
                                                <label>Depleted</label>
                                                <span>in ~<span id="apiDepletion"><%= data.apiDepletion %></span></span>
                                                <label>Limit Reset</label>
                                                <span class="has-tooltip">
                                                    <span class='tooltip rounded shadow-lg p-1 bg-gray-100 text-black -mt-2'>
                                                        <span id="limitReset"><%= data.limitReset %></span>
                                                    </span>
                                                    <span id="limitResetHuman"><%= data.limitResetHuman %></span>
                                                </span>
                                            </div>
                                        </div>
                                    </div>
                                <% } %>
                                <% if (data.name !== 'All') { %>
                                    <div class="bg-white shadow-md rounded my-3 dark:bg-gray-500 dark:text-white">
                                        <div class="space-x-4 px-4 p-2 leading-2 font-semibold bg-gray-300 dark:bg-gray-700 dark:text-white">
                                            <h4>Config
                                                <span>
                                                    <span class="has-tooltip">
                                                    <span class='tooltip rounded shadow-lg p-1 bg-gray-100 text-black -mt-2'>
                                                        <%= data.wikiRevision %>
                                                    </span>
                                                    (Revised <%= data.wikiRevisionHuman %>)
                                                </span>
                                            </h4>
                                        </div>
                                        <div class="p-4">
                                            <div class="stats">
                                                <label>Valid</label>
                                                <span class="font-semibold"><%= data.validConfig %></span>
                                                <label>Checks</label>
                                                <span><%= data.checks.submissions %> Submission | <%= data.checks.comments %> Comment </span>
                                                <label>Dry Run</label>
                                                <span><%= data.dryRun %></span>
                                                <label>Updated</label>
                                                <span class="has-tooltip">
                                                    <span class='tooltip rounded shadow-lg p-1 bg-gray-100 text-black -mt-2'>
                                                        <%= data.startedAt %>
                                                    </span>
                                                    <%= data.startedAtHuman %>
                                                </span>
                                                </span>
                                                <label>Checked</label>
                                                <span>
                                                <span class="has-tooltip">
                                                    <span class='tooltip rounded shadow-lg p-1 bg-gray-100 text-black -mt-2'>
                                                        <%= data.wikiLastCheck %>
                                                    </span>
                                                    <%= data.wikiLastCheckHuman %>
                                                </span>
                                                    <a class="action" data-action="reload"
                                                       data-subreddit="<%= data.name %>"
                                                       href="#">Update</a> | <a
                                                            class="action" data-action="reload" data-force="true"
                                                            data-subreddit="<%= data.name %>" href="#">Force</a>
                                                    </span>
                                                <label>Location</label>
                                                <span>
                                                    <a style="display: inline"
                                                       href="<%= data.wikiHref %>"><%= data.wikiLocation %></a>
                                                </span>
                                            </div>
                                        </div>
                                    </div>
                                <% } %>
                                <div class="bg-white shadow-md rounded my-3 dark:bg-gray-500 dark:text-white">
                                    <div class="space-x-4 px-4 p-2 leading-2 font-semibold bg-gray-300 dark:bg-gray-700 dark:text-white">
                                        <h4>Stats</h4>
                                    </div>
                                    <div class="p-4">
                                        <div class="flex items-center justify-evenly">
                                            <% if (data.name !== 'All') { %>
                                                <div>
                                                    <h4 class="text-center text-semibold pb-2">Since Config Update</h4>
                                                    <div class="stats">
                                                        <label>Events</label>
                                                        <span><%= data.stats.eventsCheckedSinceStartTotal === undefined ? '-' : data.stats.eventsCheckedSinceStartTotal %> Checked</span>

                                                        <label>Checks</label>
                                                        <span class="has-tooltip">
                                                            <span class='tooltip rounded shadow-lg p-1 bg-gray-100 text-black -mt-2'>
                                                                <span><%= data.stats.checksTriggeredSinceStartTotal %></span> Triggered / <span><%= data.stats.checksRunSinceStartTotal %></span> Run
                                                            </span>
                                                            <span><%= data.stats.checksTriggeredSinceStartTotal %></span> T / <span><%= data.stats.checksRunSinceStartTotal %></span> R
                                                        </span>

                                                        <label>Rules</label>
                                                        <span class="has-tooltip">
                                                        <span class='tooltip rounded shadow-lg p-1 bg-gray-100 text-black -mt-2'>
                                                            <span><%= data.stats.rulesTriggeredSinceStartTotal %></span> Triggered / <span><%= data.stats.rulesCachedSinceStartTotal %></span> Cached / <span><%= data.stats.rulesRunSinceStartTotal  %></span> Run
                                                        </span>
                                                        <span><%= data.stats.rulesTriggeredSinceStartTotal %></span> T / <span><%= data.stats.rulesCachedSinceStartTotal %></span> C / <span><%= data.stats.rulesRunSinceStartTotal  %></span> R
                                                    </span>

                                                        <label>Actions</label>
                                                        <span><%= data.stats.actionsRunSinceStartTotal === undefined ? '-' : data.stats.actionsRunSinceStartTotal %> Run</span>
                                                    </div>
                                                </div>
                                            <% } %>
                                            <div>
                                                <h4 class="text-center text-semibold pb-2">All Time</h4>
                                                <div class="stats">
                                                    <label>Events</label>
                                                    <span><%= data.stats.eventsCheckedTotal %> Checked</span>

                                                    <label>Checks</label>
                                                    <span class="has-tooltip">
                                                        <span class='tooltip rounded shadow-lg p-1 bg-gray-100 text-black -mt-2'>
                                                            <span><%= data.stats.checksTriggeredTotal %></span> Triggered / <span><%= data.stats.checksRunTotal %></span> Run
                                                        </span>
                                                        <span><%= data.stats.checksTriggeredTotal %></span> T / <span><%= data.stats.checksRunTotal %></span> R
                                                    </span>

                                                    <label>Rules</label>
                                                    <span class="has-tooltip">
                                                        <span class='tooltip rounded shadow-lg p-1 bg-gray-100 text-black -mt-2'>
                                                            <span><%= data.stats.rulesTriggeredTotal %></span> Triggered / <span><%= data.stats.rulesCachedTotal %></span> Cached / <span><%= data.stats.rulesRunTotal %></span> Run
                                                        </span>
                                                        <span><%= data.stats.rulesTriggeredTotal %></span> T / <span><%= data.stats.rulesCachedTotal %></span> C / <span><%= data.stats.rulesRunTotal %></span> R
                                                    </span>

                                                    <label>Actions</label>
                                                    <span><%= data.stats.actionsRunTotal %> Run</span>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <br/>
                            <div class="flex items-center justify-between flex-wrap">
                                <div class="inline-flex items-center">
                                    <input id="checkUrl" style="min-width: 320px;"
                                           class="border-gray-50 placeholder-gray-500 rounded mt-2 mb-3 p-2 text-black"
                                           placeholder="Run Bot on an url (Submission/Comment)"/>
                                    <span class="mx-2">
                                        <input type="checkbox" id="dryrunCheck" name="dryrunCheck">
                                        <label for="dryrunCheck">Test?</label>
                                    </span>
                                    <a id="runCheck" href="">Run</a>
                                </div>
                                <div class="flex items-center flex-end space-x-2">
                                <span>
                                    <label for="level-select">Level: </label>
                                    <select class="logSettingSelect rounded capitalize text-black" data-type="level" id="levels-select">
                                        <%- logSettings.levelSelect %>
                                    </select>
                                </span>
                                    <span>
                                    <label for="sort-select">Sort: </label>
                                    <select class="logSettingSelect rounded capitalize text-black" data-type="sort" id="sort-select">
                                        <%- logSettings.sortSelect %>
                                    </select>
                                </span>
                                    <span>
                                    <label for="limit-select">Limit: </label>
                                    <select class="logSettingSelect rounded capitalize text-black" data-type="limit" id="limit-select">
                                        <%- logSettings.limitSelect %>
                                    </select>
                                </span>
                                </div>
                            </div>
                            <svg class="loading" version="1.1" id="L9" xmlns="http://www.w3.org/2000/svg"
                                 xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px"
                                 viewBox="0 0 100 100" xml:space="preserve">
                        <path
                                d="M73,50c0-12.7-10.3-23-23-23S27,37.3,27,50 M30.9,50c0-10.5,8.5-19.1,19.1-19.1S69.1,39.5,69.1,50">
                            <animateTransform
                                    attributeName="transform"
                                    attributeType="XML"
                                    type="rotate"
                                    dur="1s"
                                    from="0 50 50"
                                    to="360 50 50"
                                    repeatCount="indefinite"/>
                        </path>
                    </svg>
                            <div data-subreddit="<%= data.name %>" class="logs font-mono text-sm">
                                <% data.logs.forEach(function (logEntry){ %>
                                    <%- logEntry %>
                                <% }) %>
                            </div>
                        </div>
                    <% }) %>
                </div>
                <!--<div class="w-full flex-auto flex min-h-0 overflow-auto">
                    <div class="w-full relative flex-auto">
                    </div>
                </div>-->
            </div>
        </div>
    </div>
</div>
<script>
    /*    const appendUser = causedBy => causedBy === 'system' ? '' : ' (user)';
        const initialData =
        const updateOverview = (sub, data) => {

        }*/
    window.sort = 'desc';
    document.querySelectorAll('.theme').forEach(el => {
        el.addEventListener('click', e => {
            e.preventDefault();
            if (e.target.id === 'dark') {
                document.body.classList.add('dark');
                localStorage.setItem('ms-dark', 'yes');
            } else {
                document.body.classList.remove('dark');
                localStorage.setItem('ms-dark', 'no');
            }
            document.querySelectorAll('.theme').forEach(el => {
                el.classList.remove('font-bold', 'no-underline', 'pointer-events-none');
            });
            e.target.classList.add('font-bold', 'no-underline', 'pointer-events-none');
        })
    })

    document.querySelector("#themeToggle").checked = localStorage.getItem('ms-dark') !== 'no';
    document.querySelector("#themeToggle").onchange = (e) => {
        if (e.target.checked === true) {
            document.body.classList.add('dark');
            localStorage.setItem('ms-dark', 'yes');
        } else {
            document.body.classList.remove('dark');
            localStorage.setItem('ms-dark', 'no');
        }
    }
    // if (localStorage.getItem('ms-dark') === 'no') {
    //     document.querySelector('#light.theme').classList.add('font-bold', 'no-underline', 'pointer-events-none');
    //     document.body.classList.remove('dark')
    // } else {
    //     document.querySelector('#dark.theme').classList.add('font-bold', 'no-underline', 'pointer-events-none');
    // }

    // document.querySelector('.log-info').addEventListener('click', e => {
    //     e.preventDefault()
    //     fetch(e.target.href).then(req => {
    //         if (req.ok) {
    //             e.target.classList.add('font-bold', 'no-underline', 'pointer-events-none')
    //             document.querySelector('.log-debug').classList.remove('font-bold', 'no-underline', 'pointer-events-none')
    //         }
    //     })
    // })

    // log click
    // document.querySelectorAll('[data-log]').forEach(el => {
    //     el.addEventListener('click', e => {
    //         e.preventDefault()
    //         fetch(e.target.href).then(req => {
    //             if (req.ok) {
    //                 document.querySelectorAll('[data-log]').forEach(el => {
    //                     el.classList.remove('font-bold', 'no-underline', 'pointer-events-none');
    //                 });
    //                 e.target.classList.add('font-bold', 'no-underline', 'pointer-events-none');
    //             }
    //         })
    //     })
    // })
    //
    // // sort click
    // document.querySelectorAll('[data-sort]').forEach(el => {
    //     el.addEventListener('click', e => {
    //         e.preventDefault()
    //         fetch(e.target.href).then(req => {
    //             if (req.ok) {
    //                 if (e.target.dataset.sort === 'descending') {
    //                     window.sort = 'desc';
    //                     document.querySelector('[data-sort="ascending"]').classList.remove('font-bold', 'no-underline', 'pointer-events-none')
    //                     document.querySelector('[data-sort="descending"]').classList.add('font-bold', 'no-underline', 'pointer-events-none')
    //                 } else {
    //                     window.sort = 'asc';
    //                     document.querySelector('[data-sort="descending"]').classList.remove('font-bold', 'no-underline', 'pointer-events-none')
    //                     document.querySelector('[data-sort="ascending"]').classList.add('font-bold', 'no-underline', 'pointer-events-none')
    //                 }
    //             }
    //         })
    //     })
    // })
    // // sort click
    // document.querySelectorAll('[data-limit]').forEach(el => {
    //     el.addEventListener('click', e => {
    //         e.preventDefault()
    //         fetch(e.target.href).then(req => {
    //             if (req.ok) {
    //                 document.querySelectorAll('[data-limit]').forEach(el => {
    //                     el.classList.remove('font-bold', 'no-underline', 'pointer-events-none');
    //                 });
    //                 e.target.classList.add('font-bold', 'no-underline', 'pointer-events-none')
    //             }
    //         })
    //     })
    // })

    document.querySelectorAll('.logSettingSelect').forEach(el => {
        el.onchange = (e) => {
            action = e.target.dataset.type;
            value = e.target.value;
            fetch(`logs/settings/update?${action}=${value}`);
            document.querySelectorAll(`#${e.target.id}.logSettingSelect option`).forEach(el => {
                el.classList.remove('font-bold');
            });
            document.querySelector(`#${e.target.id}.logSettingSelect option[data-value="${e.target.value}"]`).classList.add('font-bold');
        }
    });

    document.querySelectorAll('.action').forEach(el => {
        el.addEventListener('click', e => {
            e.preventDefault()
            action = e.target.dataset.action;
            subreddit = e.target.dataset.subreddit;
            type = e.target.dataset.type;
            force = e.target.dataset.force === 'true';

            fetch(`action?action=${action}&subreddit=${subreddit}&force=${force}&type=${type}`);
        });
    })

    document.querySelector("#runCheck").addEventListener('click', e => {
        e.preventDefault();
        const urlInput = document.querySelector('#checkUrl');
        const dryRunCheck = document.querySelector('#dryrunCheck');

        const url = urlInput.value;
        const dryRun = dryRunCheck.checked ? 1 : 0;

        fetch(`check?url=${url}&dryRun=${dryRun}`);

        urlInput.value = '';
        dryRunCheck.checked = false;
    });

    document.querySelectorAll('[data-subreddit].tabSelect').forEach(el => {
        el.addEventListener('click', e => {
            e.preventDefault();
            document.querySelectorAll('[data-subreddit].tabSelect').forEach(el => {
                el.classList.remove('font-bold', 'no-underline', 'pointer-events-none');
            });
            document.querySelectorAll('[data-subreddit].sub').forEach(el => {
                el.classList.remove('active');
            });
            e.target.classList.add('font-bold', 'no-underline', 'pointer-events-none');
            document.querySelector(`[data-subreddit="${e.target.dataset.subreddit}"].sub`).classList.add('active');
        });
    })
    document.querySelector('[data-subreddit="All"].tabSelect').classList.add('font-bold', 'no-underline', 'pointer-events-none');
    document.querySelector('[data-subreddit="All"].sub').classList.add('active');
</script>

<script src="https://cdn.socket.io/3.1.3/socket.io.min.js"
        integrity="sha384-cPwlPLvBTa3sKAgddT6krw0cJat7egBga3DJepJyrLl4Q9/5WLra3rrnMcyTyOnh"
        crossorigin="anonymous"></script>
<script>
    const SUBREDDIT_NAME_LOG_REGEX = /{(.+?)}/;
    const parseSubredditLogName = (val) => {
        const matches = val.match(SUBREDDIT_NAME_LOG_REGEX);
        if (matches === null) {
            return undefined;
        }
        return matches[1];
    }

    let socket = io({
        reconnectionAttempts: 5, // bail after 5 attempts
    });

    socket.on("connect", () => {
        document.body.classList.add('connected')
        socket.on("log", data => {
            const selectors = ['[data-subreddit="All"].logs'];
            const sub = parseSubredditLogName(data);
            if (sub !== undefined) {
                selectors.push(`[data-subreddit="${sub}"].logs`);
            }
            selectors.forEach(sel => {
                const el = document.querySelector(sel);
                if (el !== null) {
                    const currLogs = el.innerHTML;
                    document.querySelector(sel).innerHTML = window.sort === 'desc' ? data.concat(currLogs) : currLogs.concat(data)
                }
            });
        });
        socket.on("logClear", data => {
            data.forEach((obj) => {
                const n = obj.name === 'all' ? 'All' : obj.name;
                document.querySelector(`[data-subreddit="${n}"].logs`).innerHTML = obj.logs;
            })
            //document.querySelector('.logs').innerHTML = data.join().replaceAll(/<br\s*\/?>\,/g,'<br />');
        });
        socket.on('opStats', (data) => {
            for (const [k, v] of Object.entries(data)) {
                document.querySelector(`#${k}`).innerHTML = v;
            }
        });
    });

    socket.on('disconnect', () => {
        document.body.classList.remove('connected');
    });
</script>
</body>
</html>
